.exp-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exp-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.exp-image {
  max-width: 90px;
}

.exp-title {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.exp-title-text {
  margin: 0;
  color: white;
  font-size: 34px;
}

.exp-subtitle-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.exp-subtitle-container > p {
  margin: 0;
  padding: 10px 0px;
  font-size: 20px;
}

.exp-subtitle-years {
  color: var(--main-soft-blue)
}

.exp-list-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 60px;
  padding-bottom: 20px;
  gap: 20px;
}

.exp-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.exp-list > li {
  font-family: 'JetBrains Mono', monospace;
  position: relative;
  margin: 18px 0;
  opacity: 0;
  padding-left: 40px;
  color: var(--main-white-gray);
  font-size: 22px;
  transform: translateX(-60px);
  transition: opacity 0.1s ease, transform 1.5s ease;
}

.exp-list li.visible {
  opacity: 1;
  transform: translateX(0px);
}

.exp-list li::before {
  content: "➤";
  position: absolute;
  left: -20px;
  color: var(--main-soft-blue);
  font-size: 16px;
}

.exp-location {
  height: 100%;
  position: relative;
  display: flex;
}

.exp-location-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease, visiblity 0s linear 1.5s;
}

.exp-location-container.visible {
  opacity: 1;
  visibility: visible;
}

.exp-location-container > img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.exp-location-container > p {
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .exp-title-container {
    flex-direction: column;
    gap: 20px;
  }

  .exp-title {
    padding: 0px;
  }

  .exp-title-text {
    text-align: center;
    font-size: 24px;
  }
  
  .exp-subtitle-container {
    margin-top: 10px;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .exp-subtitle-text {
    text-align: center;
  }

  .exp-subtitle-years {
    text-align: center;
  }

  .exp-list-container {
    padding: 0px 20px;
  }

  .exp-list > li {
    font-size: 14px;
    padding-left: 10px;
  }

  .exp-list li::before {
    left: -30px;
  }
}