<div class="exp-container">
    <div class="exp-title-container">
        <img src="/static/images/experience/unav_logo.png" alt="Experience image" class="exp-image">
        <div class="exp-title">
            <h2 class="exp-title-text">Experience title</h2>
            <div class="exp-subtitle-container">
                <p class="exp-subtitle-years">2022 - now.</p>
                <p class="exp-subtitle-text">Experience subtitle</p>
            </div>
        </div>
    </div>

    <div class="exp-content">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<link rel="stylesheet" href="/components/css/experience_container.css">