<div class="main-container">
    <div class="info-container">
        <div class="title-container">
            <div class="technology-container">
                <img alt="techonology icon" class="svg">
                <h1 class="technology" id="technology"></h1>
            </div>

            <h1 class="title" id="title"></h1>
        </div>

        <div class="description-container">
            <p class="description" id="description"></p>
        </div>

        <div class="skills-container"></div>

        <div class="links-container"></div>

    </div>
    <div class="img-container">
        <img src="/static/images/projects/example.png" class="project-image">
    </div>
</div>


<link rel="stylesheet" href="/components/css/projects_container.css">