<div class="main-container">
    <div class="info-container">
        <div class="title-container">
            <div class="technology-container">
                <!-- TODO change link to itself -->
                <a href="https://www.ejemplo.com" target="_blank">
                    <img src="/static/images/ic_android.svg" alt="android" class="technology-icon">
                </a>
                <h1 class="technology">Technology</h1>
            </div>

            <h1 class="title" id="title">First project</h1>
        </div>

        <div class="description-container">
            <p class="description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis natus voluptatem pariatur. Soluta, alias omnis tempore molestiae, iusto perspiciatis a nisi nulla veritatis tenetur fugit rem beatae, autem dicta possimus!
            </p>
        </div>
    </div>
    <img src="/static/images/projects/example.png" alt="example" class="project-image">
</div>


<link rel="stylesheet" href="/components/css/projects_container.css">