:root{
  --main-purple: #8138f8;
}

body {
  margin: 0;
  line-height: inherit;
  overflow-x: hidden;
}


.fixed {
  position: fixed;
}

body {
  background-color: #030712;
  width: 100vw;
  height: 100vh;
}

.main-intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* *********************** */
/* WEBSITE NAVIGATION CONTAINER */
.header-container{
  position: sticky;
  padding: 10px 2%;
  padding-left: 5%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: auto;
}

.website-navigation-container {
    top: 20px;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    font-family: "SF Mono", monospace;
    padding: 10px 20px;
    padding-right: 2%;
  }
  
  /* Lista de navegación */
  .website-list {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  /* Elementos de la lista */
  .website-list-element a {
    text-decoration: none;
    color: rgb(194, 186, 186);
    font-size: 14px;
    transition: color 0.3s ease-in-out, transform 0.3s ease;
  }
  
  .website-list-element a:hover {
    color: #42c9b3;
    transform: scale(1.1);
  }
  
  /* Numeración */
  .website-list-element a::before {
    content: attr(data-number);
    color: #42c9b3;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Botón de "Resume" */
  .website-navigation-resume {
    border: 1px solid #42c9b3;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .website-navigation-resume:hover {
    background-color: #10293b;
  }
  
  .website-navigation-resume p {
    margin: 0;
    font-size: 14px;
    color: #42c9b3;
    text-align: center;
    font-weight: 500;
  }

/* END WEBSITE NAVIGATION CONTAINER */
/* *********************** */

/* *********************** */
/* SOCIAL MEDIA CONTAINER */
.framer.social-media-container {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 0;
  right: 0;
  padding-right: 2%;
}

.social-media.navigation {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: min-content;
}

.social-media.container {
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.social-media img {
  width: 30px;
}

.social-media h1 {
  position: absolute;
  right: 55px;
  white-space: nowrap;
  color: white;
  font-size: 14px;
  opacity: 0;
  transform: translateX(15px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.line-separator {
  height: 100px;
  width: 1px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.social-media.container:hover h1 {
  opacity: 1;
  transform: translateX(0);
}
/* END SOCIAL MEDIA CONTAINER */
/* *********************** */

.main-content {
  display: grid;
  place-items: center;
  min-height: 100vh;
  grid-template-columns: minmax(1rem, auto) min(140ch, 100%) minmax(1rem, auto); 
}

.main-content-inner {
  display: flex;
  min-height: 100vh;
  grid-column: 2;
}

.introduction-container{
  background-color: blue;
}

.introduction{
  left: 0%;
  display: inline-block;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  font-size: 18px;
  padding: 8px 16px;
  background-color: red;
}

.intro-title{
  color: white;
  font-size: 2.5rem;
  font-family: 'JetBrains Mono', monospace;

}

.intro-subtitle{
  color: white;
  font-size: 1.5rem;
  font-family: 'JetBrains Mono', monospace;
}


@media (min-width: 768px) {
  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:bottom-auto {
    bottom: auto;
  }

  .lg\:left-auto {
    left: auto;
  }

  .lg\:right-0 {
    right: 0;
  }

  .lg\:top-\[-40\%\] {
    top: -40%;
  }

  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[180\%\] {
    height: 180%;
  }

  .lg\:w-\[80rem\] {
    width: 80rem;
  }

  .lg\:gap-14 {
    gap: 3.5rem;
  }
}

/* FONTS */
/* @font-face {
    font-family: __Raleway_904c5e;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/200388358b398524-s.woff2) format("woff2");
    unicode-range: U+0460-052f,U+1c80-1c88,U+20b4,U+2de0-2dff,U+a640-a69f,U+fe2e-fe2f
}


.__className_904c5e {
    font-family: __Raleway_904c5e,__Raleway_Fallback_904c5e;
    font-style: normal
}

.__variable_904c5e {
    --font-inter: "__Raleway_904c5e","__Raleway_Fallback_904c5e"
} */
