:root {
  --main-purple: #b285fa;
  --secondary-purple: #c39eff;
  --main-gray: #889294;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #030712;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, p {
  font-family: "JetBrains Mono", monospace;
}

p {
  font-size: 16px;
  color: var(--main-gray);
}

/* *********************** */
/* WEBSITE NAVIGATION CONTAINER */
.header-container {
  padding: 30px 50px;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
  background-color: #0a192f;
  transform: translateY(0px);
  transition: 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.logo {
  width: 40px;
  height: auto;
}

.website-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-family: "SF Mono", monospace;
}

/* Lista de navegación */
.website-list {
  display: flex;
  flex-direction: row;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 10px;
}

/* Elementos de la lista */
.website-list-element a {
  text-decoration: none;
  color: rgb(194, 186, 186);
  font-size: 14px;
  transition: color 0.3s ease-in-out, transform 0.3s ease;
}

.website-list-element a:hover {
  color: #42c9b3;
  transform: scale(1.1);
}

/* Numeración */
.website-list-element a::before {
  content: attr(data-number);
  color: #42c9b3;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Botón de "Resume" */
.website-navigation-resume {
  border: 1px solid #42c9b3;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.website-navigation-resume:hover {
  background-color: #10293b;
}

.website-navigation-resume p {
  margin: 0;
  font-size: 14px;
  color: #42c9b3;
  text-align: center;
  font-weight: 500;
}

/* END WEBSITE NAVIGATION CONTAINER */
/* *********************** */

/* *********************** */
/* SOCIAL MEDIA CONTAINER */
.framer.social-media-container {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 0;
  right: 0;
  padding-right: 36px;
}

.social-media.navigation {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: min-content;
}

.social-media.container {
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.social-media img {
  width: 30px;
}

.social-media h1 {
  position: absolute;
  right: 55px;
  white-space: nowrap;
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  opacity: 0;
  transform: translateX(15px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.line-separator {
  height: 100px;
  width: 1px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.social-media.container:hover h1 {
  opacity: 1;
  transform: translateX(0);
}
/* END SOCIAL MEDIA CONTAINER */
/* *********************** */

.main-content {
  display: block;
  padding: 0px 150px;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
}

.introduction-container {
  margin: 0px auto;
  padding: 150px 0px;
  min-height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.introduction {
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.intro-title {
  margin: 0;
  margin-top: 5px;
  color: var(--main-purple);
  font-size: 56px;
}

.intro-subtitle {
  margin: 10px 0px 10px;
  color: rgb(228, 212, 212);
  font-size: 46px;
}

.intro-description-container {
  max-width: 500px;
  margin: 25px 0px 0px;
}

.intro-description {
  margin: 10px 0px 20px 0px;
}

.intro-button-container{
  line-height: 1.3;
  font-size: 20px;
}

.button-contact {
  margin-top: 50px;
  padding: 1.25rem 1.75rem;
  background-color: transparent;
  border: 1px solid #3df7d2;
  color: #19eec3;
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.button-contact:hover {
  background-color: #00ffcc;
  color: #0a192f;
}

/* ABOUT ME CONTAINER */
.about-me-main-container {
  display: block;
  position: relative;
  padding: 70px 0px;
  max-width: 1000px;
}

.about-me-title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;
}

.about-me-blank-space {
  width: 45%;
  height: 100%;
}

.about-me-title-number {
  color: #42c9b3;
  font-size: 24px;
  margin-right: 24px;
}

.about-me-title {
  color: white;
  font-size: 24px;
}

.about-me-separator {
  height: 1px;
  background-color: #42c9b3;
  flex-grow: 1;
  margin-left: 20px;
}

.about-me-description-container {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.about-me-description {
  width: 55%;
  max-width: 480px;
  display: block;
}

.about-me-text {
  padding-bottom: 16px;
  color: var(--main-gray);
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;
}

.university-link {
  color: #42c9b3;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Hover solo sobre los enlaces */
.university-link:hover {
  color: #b285fa;
}

.about-me-imgs-container {
  position: relative;
  width: 40%;
  max-width: 300px;
}

.about-me-images {
  display: inline-block;
  max-width: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.hobbies-container{
  width: 100%;
  height: 150px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobbies-title{
  width: auto;
  display: inline-block;
  color: white;
  background-color: red;
  font-size: 12px;
  font-weight: 200;
}

.hobbies-animator{
  width: 100%;
  flex-grow: 1;
  border: 1px solid #42c9b3;
}

/* EXPERIENCE CONTAINER */
.experience-container {
  height: 100vh;
}

/* PROJECTS CONTAINER */
.projects-container {
  height: 100vh;
}

/* CONTACT CONTAINER */
.contact-container {
  height: 100vh;
}

@media (max-width: 768px){
  .framer.social-media-container {
    opacity: 0;
  }

  .introduction {
    font-size: 14px;
  }

  .main-content {
    padding: 0px 20px;
  }
  
  .intro-title {
    font-size: 24px;
  }

  .intro-subtitle {
    font-size: 20px;
  }

  p {
    font-size: 12px;
  }


  /* ABOUT ME */
  .about-me-description-container{
    display: block;
  }

  .about-me-blank-space{
    width: 0%;
  }

  .about-me-separator {
    margin-right: 100px;
  }
}

/* @media (min-width: 768px) {
  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:bottom-auto {
    bottom: auto;
  }

  .lg\:left-auto {
    left: auto;
  }

  .lg\:right-0 {
    right: 0;
  }

  .lg\:top-\[-40\%\] {
    top: -40%;
  }

  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[180\%\] {
    height: 180%;
  }

  .lg\:w-\[80rem\] {
    width: 80rem;
  }

  .lg\:gap-14 {
    gap: 3.5rem;
  }
} */