body {
  margin: 0;
  line-height: inherit;
  overflow-x: hidden;
}

.fixed {
  position: fixed;
}

body {
  background-color: #030712;
  width: 100vw;
  height: 100vh;
}

.logo {
  top: 3%;
  left: 4%;
  position: fixed;
  width: 40px;
  height: auto;
  z-index: 100;
}

.main-intro {
  height: 100vh;
  width: 100vw;
}

/* *********************** */
/* WEBSITE NAVIGATION CONTAINER */
.website-navigation-container{
    position: fixed;
    right: 0;
    margin-right: 2%;
}

.website-list{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
}
/* END WEBSITE NAVIGATION CONTAINER */
/* *********************** */




/* *********************** */
/* SOCIAL MEDIA CONTAINER */
.framer.social-media-container {
  display: flex;
  position: fixed;
  justify-content: center;
  bottom: 0;
  right: 0;
  padding-right: 2%;
}

.social-media.navigation {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: min-content;
}

.social-media.container {
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.social-media img {
  width: 30px;
}

.social-media h1 {
    position: absolute;
    right: 55px; 
    white-space: nowrap;
    color: white;
    font-size: 14px;
    opacity: 0;
    transform: translateX(15px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.line-separator {
  height: 100px;
  width: 1px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.social-media.container:hover h1 {
    opacity: 1;
    transform: translateX(0);
}
/* END SOCIAL MEDIA CONTAINER */
/* *********************** */



.framer.intro-containers {
  display: flex;
  width: 100%;
}

.intro-left {
  background-color: red;
}

.intro-right {
  background-color: gold;
}

.main-description {
  height: 100vh;
  width: 100vw;
}

@media (min-width: 768px) {
  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:bottom-auto {
    bottom: auto;
  }

  .lg\:left-auto {
    left: auto;
  }

  .lg\:right-0 {
    right: 0;
  }

  .lg\:top-\[-40\%\] {
    top: -40%;
  }

  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[180\%\] {
    height: 180%;
  }

  .lg\:w-\[80rem\] {
    width: 80rem;
  }

  .lg\:gap-14 {
    gap: 3.5rem;
  }
}

/* FONTS */
/* @font-face {
    font-family: __Raleway_904c5e;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/_next/static/media/200388358b398524-s.woff2) format("woff2");
    unicode-range: U+0460-052f,U+1c80-1c88,U+20b4,U+2de0-2dff,U+a640-a69f,U+fe2e-fe2f
}


.__className_904c5e {
    font-family: __Raleway_904c5e,__Raleway_Fallback_904c5e;
    font-style: normal
}

.__variable_904c5e {
    --font-inter: "__Raleway_904c5e","__Raleway_Fallback_904c5e"
} */
