:root {
    --main-soft-blue: #42c9b3;
    --main-purple: #b285fa;
    --secondary-purple: #c39eff;
    --main-gray: #889294;
    --main-gray-whiter: #adb3b4;
    --main-white-gray: #f0f0f0;
    --main-orange: #ff792c;
    --android-color: #3ddc84;
    --soft-dark: #253244;
    --background-color: #030712;
    --almost-background-color: #0a1328;
}

* {
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}

.mobile-container {
    position: fixed;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}

.mobile-frame-container {
    position: relative;
    aspect-ratio: 1/2.15;
    height: min(80%, 80vw * (2.15 / 1));
    width: min(80%, 80vh * (1 / 2.15));
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.mobile-content {
    position: absolute;
    width: 98%;
    height: 98%;
    z-index: -1;
}

.main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.title-text {
    margin-left: 50px;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

.content-container {
    width: 65%;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.icon-container {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-logo {
    width: 40px;
    height: 40px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 10;
    margin: 20px 0px;
}

.description-screens {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.screen-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 100%, 100% 100%, 90% 0%, 10% 0%);
    background-color: var(--almost-background-color);
    cursor: pointer;
}

.screen-icon-container {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-icon {
    width: 20px;
    height: 20px;
    filter: invert(58%) sepia(5%) saturate(250%) hue-rotate(170deg) brightness(92%) contrast(85%);
}

.screen-text {
    color: var(--main-gray);
}

.screen-btn.selected .screen-icon-container {
    background-color: white;
}

.screen-btn.selected .screen-text {
    color: white;
}

.screen-btn.selected .screen-icon {
    filter: invert(0);
}


.screen-btn.selected {
    background-color: var(--main-gray-whiter);
}

.description-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--soft-dark);
    border-radius: 0 0 10px 10px;
}

.description-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
}

.description-icon {
    width: 15px;
    height: 15px;
    filter: invert(1)
}

.description-list {
    width: 100%;
    padding: 0px 20px;
    margin: 5px 0;
    list-style-position: inside;
    list-style-type: none;
}

.description-list > li {
    margin: 10px 0;
}

.description-list li::before {
    content: "-";
    margin-right: 20px;
}

.description-list > * {
    color: var(--main-white-gray);
    font-size: clamp(1rem, 1vw, 2rem);
}

.text {
    width: 100%;
    margin: 10px 0;
    color: var(--main-white-gray);
    font-size: clamp(1rem, 1vw, 2rem);
}

@media (max-width: 1000px) {
    .main-content {
        flex-direction: column-reverse;
        height: auto;
        gap: 60px;
        padding: 40px 0px;
    }

    .mobile-container {
        position: relative;
        width: 80%;
    }

    .mobile-frame-container {
        position: relative;
        width: 80%;
        aspect-ratio: 1/2.15;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content-container {
        height: auto;
        width: 80%;
        padding: 0;
    }

    .description-container {
        margin-top: 0;
    }

    .description-text-container {
        width: 100%;
        flex-grow: 1;
        padding: 0;
        border-radius: 0 0 10px 10px;
    }

    .content-title {
        margin-bottom: 10px;
    }

    .title-text {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .icon-container {
        width: 60px;
        height: 60px;
    }

    .title-logo {
        width: 60px;
        height: 60px;
    }

    .screen-text {
        font-size: 150%;
    }
}