:root {
    --main-soft-blue: #42c9b3;
    --main-purple: #b285fa;
    --secondary-purple: #c39eff;
    --main-gray: #889294;
    --main-gray-whiter: #adb3b4;
    --main-white-gray: #f0f0f0;
    --main-orange: #ff792c;
    --android-color: #3ddc84;
    --soft-dark: #253244;
    --background-color: #030712;
    --almost-background-color: #0a1328;
}

* {
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}

.mobile-container {
    position: fixed;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.;
}

.mobile-frame-container {
    position: relative;
    aspect-ratio: 1/2.15;
    height: min(80%, 80vw * (2.15 / 1));
    width: min(80%, 80vh * (1 / 2.15));
    display: flex;
    justify-content: center;
    align-items: center;
}


.mobile-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.mobile-content {
    position: absolute;
    width: 98%;
    height: 98%;
    z-index: -1;
}


.main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.content-container {
    height: 85%;
    width: 65%;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
}

.content-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.icon-container {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-logo {
    width: 40px;
    height: 40px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    z-index: 10;
    margin-top: 20px;
}

.description-screens {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.screen-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 100%, 100% 100%, 90% 0%, 10% 0%);
    background-color: var(--almost-background-color);
    cursor: pointer;
}

.screen-icon-container {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.screen-icon {
    width: 20px;
    height: 20px;
    filter: invert(58%) sepia(5%) saturate(250%) hue-rotate(170deg) brightness(92%) contrast(85%);
}

.screen-text {
    color: var(--main-gray);
}

.screen-btn.selected .screen-text {
    color: white;
}

.screen-btn.selected .screen-icon {
    filter: invert(0);
}


.screen-btn.selected {
    background-color: var(--main-gray-whiter);
}

.description-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--soft-dark);
    border-radius: 0 0 10px 10px;
}

.description-text {
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {

}