/* CONTACT CONTAINER */
.contact-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-main-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.5s ease;
}

.contact-main-container.show {
  animation: slideIn 1.5s ease forwards;
}

.contact-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.contact-middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-middle-container > * {
  margin: 0
}

.section-contact-header {
  color: var(--main-soft-blue);
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.contact-title{
  color: var(--main-white-gray);
  font-size: 40px;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.contact-text-container {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.contact-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0;
  text-align: center;
}

.button-contact{
  margin-top: 60px;
}

@media (max-width: 768px){
  .contact-container {
    margin-top: 150px;
    padding-bottom: 100px;
    height: auto;
  }

  .contact-main-container {
    width: 100%;
  }

  .contact-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  .contact-text {
    padding: 0;
  }
}