/* CONTACT CONTAINER */
.contact-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-main-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 80%;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.5s ease;
}

.contact-main-container.show {
  animation: slideIn 1.5s ease forwards;
}

.contact-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.contact-middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-middle-container > * {
  margin: 0
}

.section-contact-header {
  color: var(--main-soft-blue);
  width: 100%;
  font-size: clamp(1rem, 1vw, 1.5rem);
  margin-bottom: 10px;
  text-align: center;
}

.contact-title{
  color: var(--main-white-gray);
  font-size: clamp(1.8rem, 5vw, 3rem);
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.contact-text-container {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.contact-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0;
  text-align: center;
}

.button-contact{
  margin-top: 60px;
}

@media (max-width: 768px){
  .contact-main-container {
    width: 100%;
    height: 100dvh;
  }

  .contact-title {
    width: 100%;
    text-align: center;
  }

  .contact-text {
    padding: 0;
    max-width: 70%;
  }
}
