.experience-container{
    height: 100vh;
    width: 100%;
    padding: 70px 100px;
}

#earth-globe{
    width: 300px;
    height: 300px;
    border: 1px solid blue;
}

.experience-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.experience-title-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.experience-title-number{
    color: #42c9b3;
}

.experience-title{
    color: white;
}

.experience-title-separator{
    height: 1px;
    flex-grow: 1;
    background-color: #42c9b3;
}

.experience{
    flex-grow: 1;
    width: 100%;
    border: 1px solid white;
}

.experience-navigator-container{
    width: 100%;
    display: flex;
}

.experience-navigator-separator {
    width: 1px;
    background-color: white;
}

.studies-navigator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.work-experience-navigator{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-navigator-title{
    font-size: 16px;
    font-weight: 150;
    text-align: center;
    color: white
}
