.introduction-container {
  margin: 0px 5%;
  margin-bottom: 0px;
  margin-top: 100px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.introduction {
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.intro-title {
  margin: 0;
  margin-top: 5px;
  color: var(--main-purple);
  font-size: 56px;
}

.intro-subtitle {
  margin: 10px 0px 10px;
  color: rgb(228, 212, 212);
  font-size: 46px;
}

.intro-description-container {
  max-width: 500px;
  margin: 25px 0px;
}

.intro-description {
  margin: 10px 0px 20px 0px;
  font-size: 14px;
}

.intro-button-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.button-contact {
  margin-top: 50px;
  padding: 1.25rem 1.75rem;
  background-color: transparent;
  border: 1px solid #3df7d2;
  color: #19eec3;
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-contact:hover {
  background-color: #00ffcc;
  color: #0a192f;
}

@media (max-width: 768px){
  .introduction-container {
    margin-right: 0px;
    margin-left: 0px;
    height: auto;
    justify-content: start;
  }

  .introduction {
    font-size: 12px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .intro-title {
    font-size: 24px;
    text-align: center;
  }

  .intro-subtitle {
    font-size: 14px;
    text-align: center;
  }

  .intro-description {
    text-align: center;
  }

  .intro-button-container {
    justify-content: center;
  }

  .button-get-in-touch {
    margin-top: 20px;
  }
}
  