.introduction-container {
  margin: 0px 5%;
  margin-bottom: 0px;
  margin-top: 100px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.introduction {
  margin: 0;
  color: white;
  font-size: clamp(0.8rem, 1vw, 2rem);
  font-weight: 200;
  margin-bottom: 12px;
}

.intro-title {
  margin: 0;
  margin-top: 5px;
  color: var( --blue-strong);
  font-size: clamp(1.5rem, 3vw, 4rem);
}

.intro-subtitle {
  margin: 10px 0px 10px;
  color: rgb(228, 212, 212);
  font-size: clamp(1rem, 2vw, 3rem);
}

.intro-description-container {
  max-width: 500px;
  margin: 25px 0px;
}

.intro-description {
  margin: 10px 0px 20px 0px;
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}

.intro-button-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.button-contact {
  padding: 1.25rem 1.75rem;
  background-color: transparent;
  border: 1px solid #3df7d2;
  color: #19eec3;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}

#get-in-touch {
  margin-top: 20px;
}

.button-contact:hover {
  background-color: #00ffcc;
  color: #0a192f;
}

.introduction,
.intro-title,
.intro-subtitle,
.intro-description-container,
.intro-button-container {
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.5s ease forwards;
}

.introduction-container .introduction:nth-child(1) {
  animation-delay: 0s;
}

.introduction-container .intro-title:nth-child(2) {
  animation-delay: 0.25s;
}

.introduction-container .intro-subtitle:nth-child(3) {
  animation-delay: 0.5s;
}

.introduction-container .intro-description-container:nth-child(4) {
  animation-delay: 0.75s;
}

.introduction-container .intro-button-container:nth-child(5) {
  animation-delay: 1s;
}
/* ANIMATION */


@media (max-width: 768px){
  .introduction-container {
    height: 100dvh;
    margin: 0px;
    height: auto;
    padding: 5px;
  }

  .intro-description-container {
    max-width: 500px;
    margin: 25px auto;
  }

  .introduction {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .intro-title {
    text-align: center;
  }

  .intro-subtitle {
    text-align: center;
  }

  .intro-description {
    text-align: center;
  }

  .intro-button-container {
    justify-content: center;
  }

  .button-get-in-touch {
    margin-top: 20px;
  }
}
  