/* PROJECTS CONTAINER */
.projects-container {
  height: 100vh;
  width: 100%;
  padding: 70px 100px;
}

.projects-main-container {
  height: 100%;
  width: 100%;
}

.section-projects-header {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 100px;
}

.section-projects-separator {
  flex-grow: 1;
  height: 2px;
  background-color: white;
}

.section-projects-number{
  color: var(--main-soft-blue);
}

.section-projects-title {
  color: white;
  font-size: 24px;
}

